<script>
import { onMount } from "svelte";

    import { blur, fade, slide, fly } from "svelte/transition";
    import { blockBuilder } from "./converter";
    import { randomJamo, randomPhrase, loadPhrases } from "./keydata";
    import { store_settings, } from "./stores";

    export let inputNode;

    // display logic
    let input;
    let mode;
    let hasFocus;
    let complete;
    let hangul = [];
    let goal = [];
    let en;
    let roman;
    let audio;
    let audioElement;
    // let curJamo;

    onMount(() => {
        nextGoal();
        audioElement.volume = 0.5;
    });
    
    // lots of reconstruction, but opti's prop wldn't yield. (gc be like)
    $: hangul = blockBuilder(input || "").split("");

    $: {
        complete = goal.toString() == hangul.toString();
    }
    $: if(complete && ($store_settings.autoret || $store_settings.mode == "jamo")) nextGoal();
    
    function clearInput() {
        input = "";
        hangul = [];
        complete = false;
    }
    
    function nextGoal() {
        clearInput();
        switch ($store_settings.mode) {
            case "jamo":
                goal = [randomJamo()];
                en = "";
                audio = {};
                roman = "";
                break;
            case "phrase":
                let phrase = randomPhrase();
                goal = blockBuilder(phrase.ko).split("");
                en = phrase.en;
                audio = phrase.audio;
                roman = phrase.roman;
                if (audioElement) {
                    setTimeout(() => audioElement.play(), 100);
                }
                break;
            default:
                $store_settings.mode = "jamo";
                break;
        }
    }

    store_settings.subscribe(value => {
        if (value.mode != mode) {
            nextGoal();
            mode = value.mode;
        } 
    });

    function focused() { hasFocus = true }
    function blurred() { hasFocus = false }

    function handleInput(node, data) {
        node.focus();
        focused();

        node.addEventListener("keydown", e => {
            if (e.code == "Enter") {
                if (e.shiftKey) {
                    // play skip sound
                    nextGoal();
                } else if (e.metaKey || e.ctrlKey) {
                    setTimeout(() => audioElement?.play(), 100);
                } else if (complete) {
                    // play success sound
                    nextGoal();
                }
            }

        });

        return {
            update(data) {
                if ($store_settings.mode == "jamo") clearInput();
            },
            destroy() {}
        }
    }

</script>

<div class="display">
    <audio bind:this={audioElement} src="{audio}"> </audio>
    <!-- <p class="subgoal" bind:textContent={curJamo} contenteditable=false>ㄹㅇㄴㄹㅑㅓㅏㄹㅁㅍㅊㅌ</p> -->
    <div class="wrap">
        <input class="vhide" bind:value={input} use:handleInput={input} type="text" on:focus={focused} on:blur={blurred}  bind:this={inputNode}>
        <div class="input-display {$store_settings.mode == "jamo" ? "hidden" : ""}">
            <span class="output">
                {#each hangul as block, i}
                    <span class="block 
                            {i < hangul.length-1 && block != goal[i] ? "bad" : ""}
                            {block == "\u0020" ? "space" : ""} 
                            {i == hangul.length-1 ? "current" : ""}">
                        {block == "\u0020" ? "\u2423" : block}
                    </span>
                {/each}
            </span>
            <span class="cursor {hasFocus ? "focused" : ""}"> </span>
            <span class="ret-sym {complete ? "complete" : ""}"> &#x23CE; </span>
        </div>
        <p class="goal" contenteditable=false>
            {#each goal as block, i (block+i+Math.random())}
                <span in:blur={{ delay: (i*20), duration:150}} class="block {block == "\u0020" ? "space" : ""}">
                    {block == "\u0020" ? "\u2423" : block}
                </span>
            {/each}
        </p>
    </div>
    {#if $store_settings.roman}
        <p class="roman" bind:textContent={roman} contenteditable=false></p>
    {/if}
    <p class="en" bind:textContent={en} contenteditable=false></p>


    <div class="focus-indicator {hasFocus ? "indicate" : ""}"></div>
</div>

<style>
    .display {
        text-align: center;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrap {
        width: fit-content;
        text-align: center;
    }
    
    .goal {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: var(--theme-color);
        display: flex;
        justify-content: center;
        position: relative;
    }

    /* .goal:after {
        content: '\1F508';
        position: absolute;
        left: 110%;
        font-size: 0.8em;
    } */

    .en {
        height: 1em;
        margin-bottom: 10px;
        color: var(--theme-color);
    }
    
    .roman {
        font-size: 0.8em;
        height: 1em;
        margin-bottom: 20px;
        color: var(--theme-color);
        /* font-style: italic; */
        /* opacity: 0.5; */
    }

    .subgoal {
        font-size: 1rem;
        margin-bottom: 10px;
        color: var(--theme-color);
        opacity: 0.5;
    }

    .input-display {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 1.5rem;
        width: fit-content;
        font-size: 1.5rem;
        margin: 20px 0;
        color: var(--theme-color);
    }
    
    .input-display .output {
    }

    .cursor {
        display: inline-block;
        width: 2px;
        margin: 0 2px;
        background: var(--theme-color);
        height: 0;
        transition: height 250ms ease;
    }
    
    .cursor.focused {
        height: 120%;
        animation: fade-out 700ms ease-in-out 250ms infinite alternate;
    }

    .ret-sym {
        position: absolute;
        left: 100%;
        opacity: 0.3;
        transition: opacity 200ms;
    }

    .ret-sym.complete {
        opacity: 1;
    }

    @keyframes fade-out {
        100% {opacity: 1}
        0% {opacity: 0}
    }


    .focus-indicator {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 10px;
        right: 10px;
        border-radius: 50%;
        background-color: rgb(184, 184, 255);
    }

    .indicate {
        background-color: rgb(95, 95, 255);
    }

    .block {
        float: left;
    }

    :global(.block.space) {
        position: relative;
        display: inline-block;
        opacity: 0.5;
        /* bottom: -4px; */
        margin: 2px;
    }
    .block.bad {
        color: rgb(255, 73, 73);
    }

    .block.current {
        /* opacity: 0.1; */
    }

</style>