<script>
import { LUT_KEY_HANGUL } from "./keydata";
import { store_settings, store_shift_key } from "./stores";



    export let value = "";
    export let shift = "";
    export let data = "";

    // $: $store_settings.shiftswap

    let tl = "";
    $: tc = $store_settings.shift ? LUT_KEY_HANGUL[shift] || "" : "";
    let tr = "";
    let cl = "";
    $: cc = ($store_settings.shiftswap ? $store_shift_key ? LUT_KEY_HANGUL[shift] : undefined : undefined) || 
            ($store_settings.hangul ? LUT_KEY_HANGUL[value] : undefined) || "";
    let cr = "";
    let bl = "";
    let bc = "";
    $: br = $store_settings.latin ? value : "";

</script>

<div class="key" {data} {value} {shift}>
    <div class="keylabel">
        <span class="center">{cc}</span>
        <span>{tl}</span>
        <span>{tc}</span>
        <span>{tr}</span>
        <span>{cl}</span>
        <span></span>
        <span>{cr}</span>
        <span>{bl}</span>
        <span>{bc}</span>
        <span>{br}</span>
    </div>
</div>

<style>
    .key {
        position: relative;
        border: 1px solid var(--theme-fg);
        border-radius: 2px;
        width: 50px;
        height: 50px;
        margin-right: 5px;
        transition: background-color 50ms, color 50ms;
        cursor: default;
    }

    :global(.highlight) {
        background-color: var(--theme-fg);
        color: var(--theme-color-alt);
    }

    .keylabel {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        font-size: .75rem;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--theme-color);
    }

    span.center {
        font-size: 1rem;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>