<script>
    import { onDestroy } from "svelte";
    import Key from "./Key.svelte";
    import { store_shift_key } from "./stores";

    function keydown(e) {
        if (e.key == "Shift") $store_shift_key = true;
        if (e.metaKey) return;
        let key = document.querySelector(`.key[data=${e.code}]`);
        key?.classList.add("highlight");
    }

    function keyup(e) {
        if (e.key == "Shift") $store_shift_key = false;
        let key = document.querySelector(`.key[data=${e.code}]`);
        key?.classList.remove("highlight");
    }

    window.addEventListener("keydown", keydown);
    window.addEventListener("keyup", keyup);

    onDestroy(() => {
        window.removeEventListener("keydown", keydown);
        window.removeEventListener("keyup", keyup);
    })

</script>

<div>
    <div class="keyrow">
        <Key data="Digit1" value="1"></Key>
        <Key data="Digit2" value="2"></Key>
        <Key data="Digit3" value="3"></Key>
        <Key data="Digit4" value="4"></Key>
        <Key data="Digit5" value="5"></Key>
        <Key data="Digit6" value="6"></Key>
        <Key data="Digit7" value="7"></Key>
        <Key data="Digit8" value="8"></Key>
        <Key data="Digit9" value="9"></Key>
        <Key data="Digit0" value="0"></Key>
        <Key data="Minus" value="-"></Key>
        <Key data="Equal" value="="></Key>
    </div>
    <div class="keyrow" style="margin-left: 25px">
        <Key data="KeyQ" value="q" shift="Q"></Key>
        <Key data="KeyW" value="w" shift="W"></Key>
        <Key data="KeyE" value="e" shift="E"></Key>
        <Key data="KeyR" value="r" shift="R"></Key>
        <Key data="KeyT" value="t" shift="T"></Key>
        <Key data="KeyY" value="y"></Key>
        <Key data="KeyU" value="u"></Key>
        <Key data="KeyI" value="i"></Key>
        <Key data="KeyO" value="o" shift="O"></Key>
        <Key data="KeyP" value="p" shift="P"></Key>
        <Key data="BracketLeft" value="["></Key>
        <Key data="BracketRight" value="]"></Key>
        <Key data="Backslash" value="\"></Key>
    </div>
    <div class="keyrow" style="margin-left: 35px">
        <Key data="KeyA" value="a"></Key>
        <Key data="KeyS" value="s"></Key>
        <Key data="KeyD" value="d"></Key>
        <Key data="KeyF" value="f"></Key>
        <Key data="KeyG" value="g"></Key>
        <Key data="KeyH" value="h"></Key>
        <Key data="KeyJ" value="j"></Key>
        <Key data="KeyK" value="k"></Key>
        <Key data="KeyL" value="l"></Key>
        <Key data="Semicolon" value=";"></Key>
        <Key data="Quote" value="'"></Key>
    </div>
    <div class="keyrow" style="margin-left: 70px">
        <Key data="KeyZ" value="z"></Key>
        <Key data="KeyX" value="x"></Key>
        <Key data="KeyC" value="c"></Key>
        <Key data="KeyV" value="v"></Key>
        <Key data="KeyB" value="b"></Key>
        <Key data="KeyN" value="n"></Key>
        <Key data="KeyM" value="m"></Key>
        <Key data="Comma" value=","></Key>
        <Key data="Period" value="."></Key>
        <Key data="Slash" value="/"></Key>
    </div>
</div>

<style>

    .keyrow {
        display: flex;
        margin: 5px;
    }

</style>