<script>
import { fly } from "svelte/transition";

import { store_settings } from "./stores";

import Switch from "./Switch.svelte";
import Toggle from "./Toggle.svelte";

let panelWidth;
export let visible = false;

const toggleVisible = () => visible = !visible;

</script>

<div class="settings">
    <button class="btn" on:click|stopPropagation={toggleVisible}>settings</button>
    {#if visible}
    <div class="panel" bind:clientWidth={panelWidth} transition:fly={ { x:panelWidth+100, opacity: 1, duration:500} }>
        <div><Switch label="mode" options={[{"value":"jamo"},{"value":"phrase"}]} bind:value={$store_settings.mode}></Switch></div>
        <div><Toggle label="hangul jamo" bind:enabled={$store_settings.hangul}></Toggle></div>
        <div><Toggle label="latin symbols"  bind:enabled={$store_settings.latin}></Toggle></div>
        <div><Toggle label="shift symbols" bind:enabled={$store_settings.shift}></Toggle></div>
        <div><Toggle label="romanization" bind:enabled={$store_settings.roman}></Toggle></div>
        <div><Toggle label="swap on shift" bind:enabled={$store_settings.shiftswap}></Toggle></div>
        <div><Toggle label="auto return" bind:enabled={$store_settings.autoret}></Toggle></div>
        <div><Switch label="theme" options={[{"value":"system"},{"value":"light"},{"value":"dark"}]} bind:value={$store_settings.theme}></Switch></div>
    </div>
    {/if}
</div>

<style>

    .settings {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .btn {
        width: fit-content;
        padding: 7px 10px;
        border-radius: 2px;
        transition: background-color 100ms;
        background-color: var(--theme-bg-alt);
        color: var(--theme-color);
        border: none;
        margin-bottom: 10px;
    }

    .btn:hover {
        background-color: var(--theme-fg);
        color: var(--theme-color-alt);
    }

    .panel {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .panel > * {
        margin-bottom: 8px;
    }

</style>