<script>
    export let label;
    export let options;
    export let value;

    function updateOption(node) {
        if (node.value == value) {
            node.checked = true;
        }
        return {
            destroy() {

            }
        }
    }
</script>

<div class="switch" {options} on:click|stopPropagation>
    <div class="label" >{label}</div>
    {#each options as option}
        <input
            use:updateOption 
            id="option-{option.value}" 
            class="vhide" 
            type="radio" 
            name={label} 
            value={option.value} 
            on:click={e => {value = e.currentTarget.value}}>
        <label for="option-{option.value}">
            {option.value}
        </label>
    {/each}
</div>

<style>

    /* .switch {

    } */

    .label {
        background-color: var(--theme-bg-alt);
        color: var(--theme-color);
        border-radius: 2px;
        padding: 5px;
        display: inline-block;
    }

    label {
        background-color: var(--theme-bg);
        color: var(--theme-color);
        padding: 5px;
        /* margin: 5px; */
        width: fit-content;
        text-align: center;
        display: inline-block;
        border-radius: 2px;
        transition: background-color 100ms;
    }

    input:checked + label {
        background-color: var(--theme-fg);
        color: var(--theme-color-alt);
    }


</style>