<script>
export let label;
export let enabled;
</script>


<div class="toggle" on:click|stopPropagation>
    <label for="{label}">{label}</label>
    <input class="vhide" id={label} on:click type="checkbox" name={label} bind:checked={enabled}>
    <div class="box"></div>
</div>

<style>

.toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
}

label {
    background-color: var(--theme-bg-alt);
    color: var(--theme-color);
    border-radius: 2px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}

.box {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--theme-bg); */
    border-radius: 2px;
    margin-left: 10px;
    /* padding: 5px; */
}

.box::after {
    content: "";
    width: 100%;
    height: 100%;
    transition: transform 200ms ease;
    background-color: var(--theme-fg);
    transform: scale(0);
    border-radius: 2px;
}

input:checked ~ .box::after {
    transform: scale(1);
}



</style>