<script>
  import { store_settings } from './lib/stores';
  import Keyboard from './lib/Keyboard.svelte';
  import Settings from './lib/Settings.svelte';
  import Display from './lib/Display.svelte';

  import gitlabIcon from "./assets/gitlab-icon-1-color-white-rgb.svg";

/*
- REWRITE CONVERTER!!!!
- animate next goal
- audio support
- focus ux (blur, but better)
- conditional keyboard rendering

- better system for settings and state
- make a seperate LUT for shift keys rather than defining shift modifier on keyboard
- typing metrics
- keyboard click support

found this later than i'd like to admit (https://en.wikipedia.org/wiki/Korean_language_and_computers#Hangul_in_Unicode)
*/

$: themeclass = $store_settings.theme == "system" ? querySystemTheme() : `${$store_settings.theme}-theme`
let inputNode;

store_settings.subscribe(val => {
  for (const key in val) {
    localStorage.setItem(key, val[key]);
  }
});


function querySystemTheme() {
  return window.matchMedia('(prefers-color-scheme: dark)').matches ? "dark-theme" : "";
}

function handleFocus(e) {
  inputNode.focus();
}

</script>

<main class="{themeclass}" on:click={handleFocus}>
  <Settings></Settings>
  <Display bind:inputNode></Display>
  <Keyboard/>

  <p class="subnote"> 
    <a href="https://gitlab.com/60fov/krt#krt" target="_blank">
      <img class="icon" src={gitlabIcon} alt="github icon">
    </a>
  </p>

</main>

<style>
  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  :global(*) {
    margin: 0;
    padding: 0;
  }

  :global(.vhide) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  :global(.hidden) {
    visibility: hidden;
  }

  :global(html) {
    --theme-bg: rgb(241, 241, 241);
    --theme-bg-alt: rgba(0, 0, 0, 0.09); 
    --theme-fg: black;
    --theme-color: black;
    --theme-color-alt: white;
  }

  :global(.dark-theme) {
    --theme-bg: rgb(0, 0, 0);
    --theme-bg-alt: rgba(255, 255, 255, 0.11); 
    --theme-fg: white;
    --theme-color: white;
    --theme-color-alt: black;
  }

  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--theme-bg);
    transition: background-color 200ms;
  }

  .subnote {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 1em;
    font-style: oblique;
  }

  .subnote > * {
    display: inline-block;
  }

  .icon {
    width: 30px;
    transition: transform 350ms;
    transform: none;
    mix-blend-mode: exclusion;
  }

  .icon:hover {
    transform: rotateZ(360deg);
  }

</style>
